##########################################
# Typebot
##########################################
DATABASE_URL=postgresql://postgres:typebot@typebot-db:5432/typebot
NODE_OPTIONS=--no-node-snapshot

NEXTAUTH_URL=http://localhost:8080
NEXT_PUBLIC_VIEWER_URL=http://localhost:8081

# Generate secure random value before running in production
ENCRYPTION_SECRET= SEU_ENCRYPTION_SECRET_WITH_32_CHARACTERS
ADMIN_EMAIL=SEU_EMAIL_ADMIN

GITHUB_CLIENT_ID=SEU_CLIENT_ID
GITHUB_CLIENT_SECRET=SEU_CLIENT_SECRET