# URL where Formbricks will be accessible
WEBAPP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# Generate secure random values before running in production
NEXTAUTH_SECRET=SEU_NEXTAUTH_SECRET_WITH_64_CHARACTERS
ENCRYPTION_KEY=SEU_ENCRYPTION_KEY_WITH_64_CHARACTERS
CRON_SECRET=SEU_CRON_SECRET_WITH_64_CHARACTERS
HUB_API_KEY=SEU_HUB_API_KEY_WITH_64_CHARACTERS
CUBEJS_API_SECRET=SEU_CUBEJS_API_SECRET_WITH_64_CHARACTERS

# Cube.js Configuration
CUBEJS_JWT_ISSUER=formbricks-web
CUBEJS_JWT_AUDIENCE=formbricks-cube