# URL where Formbricks will be accessible
WEBAPP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# Generate secure random values before running in production
NEXTAUTH_SECRET=
ENCRYPTION_KEY=
CRON_SECRET=
HUB_API_KEY=
CUBEJS_API_SECRET=

# Cube.js Configuration
CUBEJS_JWT_ISSUER=formbricks-web
CUBEJS_JWT_AUDIENCE=formbricks-cube