##############
# BASEROW 
##############
BASEROW_TOKEN=SEU_TOKEN
BASEROW_TABLE_ID=ID_TABLE
BASEROW_URL=URL_BASEROW
##############
# FORMBRICKS 
##############
FORMBRICKS_URL=http://localhost:3000
FORMBRICKS_API_KEY=SEU_TOKEN
FORMBRICKS_SURVEY_ID=SEU_SURVEY_ID