##############
# BASEROW 
##############
BASEROW_TOKEN=SEU_TOKEN
BASEROW_TABLE_ID=ID_TABLE
BASEROW_URL=SEU_BASEROW_URL_http://localhost
##############
# FORMBRICKS 
##############
FORMBRICKS_URL=SEU_FORMBRICKS_URL_http://localhost:3000
FORMBRICKS_API_KEY=SEU_TOKEN
FORMBRICKS_SURVEY_ID=SEU_SURVEY_ID
##############
# TYPEBOT 
##############
TYPEBOT_URL=SEU_TYPEBOT_URL_http://localhost:8080
TYPEBOT_API_TOKEN=SEU_API_TOKEN
TYPEBOT_ID=SEU_TYPEBOT_ID
TYPEBOT_WORKSPACE_ID=SEU_TYPEBOT_WORKSPACE_ID